@model IEnumerable<jQueryMvcVsAngularWebApiTodoList.MvcjQuery.ViewModels.TodoListSummaryViewModel>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Todo List Summary - jQuery and ASP.NET MVC</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/sharedStyles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Todo List - jQuery and ASP.NET MVC</h1>
            <div class="panel">

                <table class="table grid">
                    <thead>
                        <tr>
                            <th>Owner First Name</th>
                            <th>Owner Last Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listSummary in Model)
                        {
                            <tr>
                                <td>@listSummary.OwnerFirstName</td>
                                <td>@listSummary.OwnerLastName</td>
                                <td>
                                    <a class="btn btn-default" href="#@Url.Action("Edit", new { id = listSummary.Id })">Edit</a>
                                    
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { style = "display: inline;"}))
                                    {
                                        <button class="btn btn-danger" type="submit" name="idToDelete" value="@listSummary.Id">
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                        @if (!Model.Any())
                        {
                            <tr>
                                <td>
                                    No items yet
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <a class="btn btn-success" href="#@Url.Action("Add")">Add</a>
            </div>
            <div class="panel" id="detail">
            </div>
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/MvcjQuery/Scripts/index.js"></script>
</html>